<h3 class="subtitle is-size-5">How to make a request?</h3>

<div class="table-container">
  <table class="table is-fullwidth is-striped is-narrow is-bordered">
    <tbody>
      <thead>
        <th class="has-text-grey-light">Event</th>
        <th class="has-text-grey-light">Match</th>
        <th class="has-text-grey-light">1stHalf</th>
        <th class="has-text-grey-light">2stHalf</th>
      </thead>
      <tr>
        <td>Spezia - *Juventus</td>
        <td>24</td>
        <td>11</td>
        <td>13</td>
      </tr>
    </tbody>
  </table>
</div>