
<div class="grey-container scrollspy" id="json_section">

<div class="container">
  <div class="section">
    <h3 class="header center teal-text text-lighten-2">JSON data</h3>
    
    
    <!--   JSON Data Section   -->
    <div class="row">
      <div class="col s12 m6">
        <div class="json-block">
          <h5 class="header center">Well-structured JSON response</h5>
          <ul>
            <li data-aos="fade-right" data-aos-delay="0" data-aos-duration="500" class="aos-init aos-animate">
              <i class="material-icons">info_outline</i>
              <span>Easy for humans to read, easy for machines to parse. So you will easily integrate the data in your application.</span>
            </li>
            <li data-aos="fade-right" data-aos-delay="200" data-aos-duration="500" class="aos-init aos-animate">
              <i class="material-icons">info_outline</i>
              <span>Information about today matches, fixtures, standings, odds and team statistics for the last 50 played matches</span>
            </li>            
            <li data-aos="fade-right" data-aos-delay="200" data-aos-duration="500" class="aos-init aos-animate">
              <i class="material-icons">info_outline</i>
              <span>All the fields are well documented in documentation</span>
            </li>
            <li data-aos="fade-right" data-aos-delay="400" data-aos-duration="500" class="aos-init aos-animate">
              <i class="material-icons">info_outline</i>
              <span>As an example, on the right side, you see the response to the call <span class="code">/api/v1/matchStats/xYqqsMHo?stats=cornerKicks</span> . Navigate to the <a href="/api/v1/doc/stats_by_match_id" >matchStatsById doc page</a> to learn more.</span>
            </li>               
          </ul>
       </div>
      </div>

      <div class="col s12 m6" class="aos-init aos-animate" data-aos="fade-left" data-aos-duration="2000">
        <pre class="line-numbers" style="height: 400px;">
<code class="language-javascript"><%- include('json_sample'); -%></code>
        </pre>   
      </div>
    </div>      
  </div>
</div>
 

</div>