
<!-- Modal Structure -->
<div id="yes-no-modal" class="modal">
  <div class="modal-content">
    <h4 class="red-text text-lighten-1">Delete</h4>
    <p>Are you sure to delete this user?</p>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat teal-text text-darken-2">No</a>
    <a class="modal-close waves-effect waves-red btn-flat red-text text-lighten-1" id="yesBtn">Yes</a>
  </div>
</div>

