<div class="carousel">
  <a class="carousel-item" href="#one!">
      <div class="card green lighten-2">
        <div class="card-content white-text">
          <h5>Free</h5>
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
  </a>
  <a class="carousel-item" href="#two!">
    <div class="card blue lighten-2">
      <div class="card-content white-text">
        <h5>Basic</h5>
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>
    </div>
  </a>
  <a class="carousel-item" href="#three!">
    <div class="card blue-grey lighten-2">
      <div class="card-content white-text">
        <h5>Full</h5>
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>
    </div>
  </a>
</div>



<div class="container">
  <div class="section">
    <h2 class="header center teal-text text-lighten-2">Pricing</h2>
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4" data-aos="flip-left">
        <div class="card green lighten-2">
          <div class="card-content white-text">
            <h5>Free</h5>
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width tabs-transparent">
                <li class="tab col s4"><a href="#basic-leagues">Leagues</a></li>
                <li class="tab col s4"><a href="#basic-results">Results</a></li>
                <li class="tab col s4"><a href="#basic-stats" >Statistics</a></li>
            </ul>
          </div>
          <div class="card-content green lighten-5">
            <div id="basic-leagues" style="display: block;" class="active">Test 1</div>
            <div id="basic-results">Test 2</div>
            <div id="basic-stats">Test 3</div>
          </div>
        </div>
      </div>

      <div class="col s12 m4"  data-aos="flip-left">
         <div class="card blue lighten-2">
          <div class="card-content white-text">
            <h5>Basic</h5>            
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width tabs-transparent">
              <li class="tab"><a href="#test1" class="">Test 1</a></li>
              <li class="tab"><a class="" href="#test2">Test 2</a></li>
              <li class="tab"><a href="#test3" class="active">Test 3</a></li>
            <li class="indicator" style="left: 261px; right: 1px;"></li></ul>
          </div>
          <div class="card-content blue lighten-5">
            <div id="test1" style="display: none;" class="">Test 1</div>
            <div id="test2" class="" style="display: none;">Test 2</div>
            <div id="test3" style="display: block;" class="active">Test 3</div>
          </div>
        </div>
      </div>


      <div class="col s12 m4"  data-aos="flip-left">
        <div class="card blue-grey lighten-2">
          <div class="card-content white-text">
            <h5>Full</h5>
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width tabs-transparent">
              <li class="tab"><a href="#test1" class="">Test 1</a></li>
              <li class="tab"><a class="" href="#test2">Test 2</a></li>
              <li class="tab"><a href="#test3" class="active">Test 3</a></li>
            <li class="indicator" style="left: 261px; right: 1px;"></li></ul>
          </div>
          <div class="card-content blue-grey lighten-5">
            <div id="test1" style="display: none;" class="">Test 1</div>
            <div id="test2" class="" style="display: none;">Test 2</div>
            <div id="test3" style="display: block;" class="active">Test 3</div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>