<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Useful Statistics Data</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/img/stats_background.jpg" alt="Unsplashed background img 3"></div>
</div>

<div class="container scrollspy"  id="stats_section">
  <div class="section">
    <h2 class="header center teal-text text-lighten-2">Statistics</h2>
    <h5 class="header center">Team statistics for the last 50 played matches</h5>
    
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m2 offset-m1">
        <div class="icon-block" data-aos="fade-right">
          <h2 class="center brown-text"><img src="/img/icon/goals.png" alt="corner"></h2>
          <h6 class="center">Goals</h6>
        </div>
      </div>

      <div class="col s12 m2">
        <div class="icon-block" data-aos="fade-up">
          <h2 class="center brown-text"><img src="/img/icon/scores.png" alt="corner"></h2>
          <h6 class="center">Scores</h6>
        </div>
      </div>

      <div class="col s12 m2">
        <div class="icon-block" data-aos="fade-down">
          <h2 class="center brown-text"><img src="/img/icon/shots.png" alt="corner"></h2>
          <h6 class="center">Shots</h6>
        </div>
      </div>

      <div class="col s12 m2">
        <div class="icon-block" data-aos="fade-up">
          <h2 class="center brown-text"><img src="/img/icon/corner.png" alt="corner"></h2>
          <h6 class="center">Corners kicks</h6>
        </div>
      </div>        

      
      <div class="col s12 m2">
        <div class="icon-block" data-aos="fade-left">
          <h2 class="center brown-text"><img src="/img/icon/offsides.png" alt="corner"></h2>
          <h6 class="center">Offsides</h6>
        </div>
      </div>        
    </div>

    <div class="row">
      <div class="col s12 m2 offset-m2">
        <div class="icon-block" data-aos="fade-right">
          <h2 class="center brown-text"><img src="/img/icon/possession.png" alt="corner"></h2>
          <h6 class="center">Ball possession</h6>
        </div>
      </div>

      <div class="col s12 m2">
        <div class="icon-block" data-aos="fade-down">
          <h2 class="center brown-text"><img src="/img/icon/penalties.png" alt="corner"></h2>
          <h6 class="center">Penalties</h6>
        </div>
      </div>

      <div class="col s12 m2">
        <div class="icon-block" data-aos="fade-up">
          <h2 class="center brown-text"><img src="/img/icon/fouls.png" alt="corner"></h2>
          <h6 class="center">Fouls</h6>
        </div>
      </div>        

      <div class="col s12 m2">
        <div class="icon-block" data-aos="fade-left">
          <h2 class="center brown-text"><img src="/img/icon/cards.png" alt="corner"></h2>
          <h6 class="center">Red/Yellow cards</h6>
        </div>
      </div>
    </div>
         
  </div>
</div>


