<article class="message is-primary">
  <div class="message-body">
    Standings represent the rankings of Teams in the different Leagues they participate in. Responses of the Standings endpoint can be returned for home and away matches. Please notice that the standing object is returning only for the current season
  </div>
</article>