/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  /* border-radius: 20px; */
  border: transparent;
}

.message {
  background-color: #f5f5f5;
  border-radius: 4px;
  font-size: 1rem;
}
.message p {
  text-align: justify;
  margin: 0;
  padding: 0;
}

.message.is-primary {
  background-color: #fff7eb;
}
.message.is-info {
  background-color: #e0f2f1;
}
.message:not(:last-child) {
  margin-bottom: 1.5rem;
}
.message .message-body {
  text-align: justify;
  padding: 0.75rem 1.5rem;
}
.message-body {
  border-radius: 4px;
  border: solid #dbdbdb;
  border-width: 0 0 0 4px;
  color: #4a4a4a;
  padding: 1.25em 1.5em;
}
.message.is-info .message-body {
  border-color: #4db6ac;
  color: #1d72aa;
  color: #4a4a4a;
}
.message.is-primary .message-body {
  border-color: #fd9f14;
  /* color: #985b01; */
  color: #4a4a4a;
}

.message-body .code,
.message-body pre {
  background-color: #fff !important;
}

.is-size-5 {
  font-size: 1.25rem !important;
}
.is-size-6 {
  font-size: 1rem !important;
}
.is-size-7 {
  font-size: 0.75rem !important;
}
.has-text-weight-light {
  font-weight: 300 !important;
}
.has-text-weight-medium {
  font-weight: 500 !important;
}
.is-uppercase {
  text-transform: uppercase !important;
}

.has-text-grey-light {
  color: #b5b5b5 !important;
}
.has-text-primary {
  color: #fd9f14 !important;
}
.has-text-right {
  text-align: right !important;
}

.table-container {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.table.is-fullwidth {
  width: 100%;
}
 
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-color: grey;
  background-color: #fff;
  color: #363636;
  border-collapse: collapse;
  border-spacing: 0;
}

.table td,
.table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}
.table td .table tr,
.table td .table td {
  border: none;
  /* padding: 0.5em 0.75em; */
}



*,
:after,
:before {
  box-sizing: inherit;
}
.table.is-fullwidth {
  width: 100%;
}
.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
  background-color: #fafafa;
}
.table.is-narrow td,
.table.is-narrow th {
  padding: 0.25em 0.5em;
}
.table.is-bordered td,
.table.is-bordered th {
  border-width: 1px;
}

.table.is-bordered tr:last-child td,
.table.is-bordered tr:last-child th {
  border-bottom-width: 1px;
}

.table.is-bordered tr:last-child td,
.table.is-bordered tr:last-child th {
  border-bottom-width: 1px;
}

.doc .url-line {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.doc .title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  word-break: break-word;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.doc .subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.doc .url-title,
.doc .url-subtitle {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.25;
  word-break: break-word;
  display: inline;

}
.doc .url-title {
  color: #26a69a;
}
.doc .url-subtitle {
  color: #4a4a4a;
  text-transform: uppercase !important;
}

.doc p {
  text-align: justify;
  margin: 0;
  padding: 0;
}

.doc a {
  color: #26a69a;
  cursor: pointer;
  text-decoration: none;
}
.doc a:hover {
  color: #26a69a;
  cursor: pointer;
  text-decoration: underline;
}

.doc .code,
.table-container .code,
.message .code {
  background-color: #f5f5f5;
  color: #f14668;
  font-size: 0.875em;
  font-weight: 400;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
  padding: 0.25em 0.5em;
}

.doc .attribute {
  background-color: #f5f5f5;
  /* background-color: #fff7eb; */
  /* color: #26a69a; */
  color: #3298dc;
  font-size: 0.875em;
  font-weight: 400;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
  padding: 0.25em 0.5em;
}

.doc .params {
  background-color: #f5f5f5;
  /* background-color: #fff7eb; */
   color: #26a69a;
  /* color: #fda26c; */
  font-size: 0.875em;
  font-weight: 400;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
  padding: 0.25em 0.5em;
}


.doc .collapsible {
  border: none !important;
  box-shadow: none;
  margin: 0;
}

.doc  .collapsible-body {
  display: none;
  border: none !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0rem !important;
}

.doc .collapsible-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 0rem !important;
  background-color: #fff;
  border: none !important;
}

.doc  .collapsible-header i {
  width: 15px;
  font-size: 15px;
  display: inline-block;
  text-align: center;
  margin-right: 0 !important;
  margin-top: 5px !important;
}

.doc .tab {
  margin-left: 20px !important;
}

.doc li {
  margin: 3px 0 !important;
}

.nobreak {
  white-space: nowrap;
}

.request {
  font-size: 0.75rem;
  font-weight: 600 !important;
  color: #fff;
  background-color: #26a69a;
  text-transform: uppercase !important;
  height: 2em;
  vertical-align: middle;
  align-items: center;

  margin-right: 0.25rem;

  border-radius: 4px;
  display: inline-flex;

  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

.navigation {
margin-bottom: 1.25rem;
}
.navigation-box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  color: #4a4a4a;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 1.25rem;
  margin-top: 1.25rem;
}

.navigation-box:hover {
  border: 1px solid #26a69a;
  text-decoration: none !important;
}

.navigation-box:hover h1,
.navigation-box:hover .icon-left,
.navigation-box:hover .icon-right {
  color: #26a69a;
}

.navigation h1 {
  font-weight: 600 !important;
  text-align: left !important;
  font-size: 100%;
  font-weight: 400;

  margin: 0 0 0.75rem 0;
  padding: 0;
  color: #4a4a4a;
}

.navigation h2 {
  text-transform: uppercase !important;
  text-align: left !important;
  font-size: 0.75rem !important;
  font-size: 100%;
  font-weight: 400;
  margin: 0.75rem 0;
  padding: 0;
  color: #4a4a4a;
}
.navigation-box .icon-left,
.navigation-box .icon-right {
  font-size: 2em;
  height: 2rem;
  width: 2rem;
  color: #4a4a4a;
}
.navigation-box span {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.navigation-box .icon-left {
  left: 1em;
}
.navigation-box .icon-right {
  right: 1em;
}

.line-numbers {
  height: 288px;
}
.carousel.carousel-slider .carousel-item {
  width: 100%;
  height: 304px;
  min-height: 304px;
  position: absolute;
  top: 0;
  left: 0;
}
.tabs-body {
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  overflow: hidden;
  position: relative;
}

.tabs  {
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs .tab a {
  color: #26a69a ;
}

.tabs .tab a:hover{
  text-decoration: none;
}
.tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a:focus, .tabs .tab a:focus.active {
  /* background-color: transparent; */
  background-color: #e0f2f1 ;
  color: #26a69a ;
}


.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #26a69a;
  will-change: left, right;
}

a.sidenav-trigger.top-nav {
 z-index: 998!important;
 position: fixed;
}

nav.top-nav {
  height: 82px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(0,0,0,0.14);
  background-color: #fff;
}

.sidenav {
  top:0!important;
  background-color: #f5f5f5;
}

ul.sidenav.sidenav-fixed li.logo img{
  width:57px;
  height: 57px;
  margin-bottom: 32px;
}

ul.sidenav.sidenav-fixed li.logo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}




ul.sidenav.sidenav-fixed li.version {
  color: #9e9e9e ;
  line-height: 1.4rem;
}
.version span {
  font-size: 2rem;
}

nav.top-nav h1.header {
  margin: 0;
  padding-top: 12px;
}
.header {
  color: #ee6e73;
  font-size: 3.2rem;
  line-height: 110%;
  font-weight: 300;
}

.doc-brand-logo{
  margin-top: 8px;
}

.doc-brand-logo img{
  margin-top: 18px;
}

a.sidenav-trigger.top-nav {
  top: 12px;
  left: 0;
}
nav ul li a:hover, nav ul li.active {
  background: none;
  color: #ea454b;
}

@media only screen and (max-width: 992px) {
  nav.top-nav {
    position: fixed;
  }
  .container.doc .section  {
    margin-top:82px;
  } 
}    


@media only screen and (min-width: 601px){
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 80px;
    line-height: 80px;
}
}

@media only screen and (max-width: 451px){
  .table.is-narrow td, .table.is-narrow th {
    padding: 0.3em;
  }
  .doc .attribute{
    padding: 0.3em;
  }

  .table td .table tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(126, 126, 126, 0.12);
  }

  

  }



.divider {
  display: block;
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  height: .1rem;
  margin: 0!important;
  text-align: center;
}





#total-range {
  width: 150px;
}
#slider-range-value {
  font-size:0.8rem;
}

.noUi-horizontal {
  height: 5px;
}

.noUi-horizontal .noUi-handle {
  width: 14px;
  height: 14px;
  right: -17px;
  top: -6px;
}

.noUi-handle:before,.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 0px;
  width: 0px; 
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.today_matches_container {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.today_matches_container .event{
  cursor:pointer;
}


.event {
  height: 46px;
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr 20px 1fr min-content;
  grid-gap: 0.5rem;
  border-bottom: 1px solid var(--color-border-1);
}
.event .matchId {
  align-self: center;
  font-size: 0.875em;
  font-weight: 400;
  margin-right: 18px;
}

.event .matchId .code {
  background-color: #f5f5f5;
  color: #f14668;
  font-size: 0.875em;
  font-weight: 400;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
  padding: 0.25em 0.5em;
}
.doc .today_matches_container .event .time {
  white-space: nowrap;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 48px;
  line-height: 15px;
  text-align: right;
  font-weight: 500;
  color: var(--color-text-1);
  font-size: 12px; */

}

.doc .today_matches_container .collapsible-header {
  display: block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 0rem !important;
  background-color: #fff;
  border: none !important;
}

.doc .today_matches_container .collapsible li.active{
  background-color: var(--color-background-hover-1);
  
}

.doc .today_matches_container .collapsible li.active .event{
  border-bottom: none;
}

.doc .today_matches_container .collapsible li.active .collapsible-body{
  border-bottom: 1px solid var(--color-border-1)!important;
}


.doc .today_matches_container .collapsible li.active .collapsible-header{
  background-color: var(--color-background-hover-1);
  color:green;
}

.doc .today_matches_container .collapsible li.active .event .matchId .code {
  background-color: var(--color-background-hover-1);
}

.doc .today_matches_container .collapsible li.active .event .time{
  color:green;
}


.doc .icon-stats  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  text-align: center;
  cursor:pointer;
  }

.doc .icon-stats img {
  cursor:pointer;
  width: 45px;
  margin-bottom: 10px;
}
.doc .icon-stats:hover img{
  transform: scale(1.1);
}
.doc .icon-stats:hover span{
  text-decoration: underline;
}
.collapsible-body .header{
  text-align: center;
  font-size: 0.875em;
  font-weight: 600;
  margin-bottom: 25px;
  color: #4a4a4a!important;
}

.doc .icon-stats span{
  font-size: 0.775em;
  font-weight: 600;
  color: #4a4a4a!important;
}



.stats_dropdown {
  width:180px!important;
  height: 60px!important;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 120px 1fr;
}
/* .stats_dropdown span{
  justify-self: end;
  font-size: 14px!important;
} */


.stats_dropdown input{
  height: 18px!important;
  width:40px!important;
  font-size: 18px!important;
  margin:  0!important;
  padding: 0!important;
  text-align: center;
  font-weight: 600;
  color: #464343;
}
.stats_dropdown .btn{
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 24px;
  line-height: 12px;
  padding: 6px;
  text-transform:none;
  color:white;
  margin-bottom:  10px;
}
.stats_dropdown a.btn:hover{
  color:white;
cursor: pointer;
text-decoration: none;
}
  
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  height: auto;
}

.stepper {
  border: 1px solid #eee;
  display: inline-block;
  overflow: visible;
  height: 2.1em;
  background: #fff;
  padding: 1px;
  margin-bottom:  10px;
}

.stepper input {
  width: 3em;
  height: 100%;
  text-align: center;
  border: 0;
  background: transparent;
  color: #000;
  margin-bottom:  10px;
}

.stepper button {
  width: 1.4em;
  font-weight: 300;
  height: 100%;
  line-height: 0.1em;
  font-size: 1.4em;
  padding: 0.2em !important;
  background: #eee;
  color: #333;
  border: none;
}


ul.sidenav.sidenav-fixed li.active {
  /* background: #ef5350 !important; */
  background: #26a69a!important;
  color: #fff!important;
}
ul.sidenav.sidenav-fixed li.active i {
  color: #fff!important;
}

ul.sidenav.sidenav-fixed li.active ul li.active {
  /* background: #ffebee!important; */
}
ul.sidenav.sidenav-fixed li.active ul li.active a{
  color: #26a69a!important;
}
ul.sidenav.sidenav-fixed li.active ul li.active a i{
  color: #26a69a!important;
}
ul.sidenav.sidenav-fixed li.active i {
  color: #fff!important;
}

ul.sidenav.sidenav-fixed li.active ul li i {
  color:#333!important;
}

ul.sidenav.sidenav-fixed li.active a {
  color: #fff!important;
}

ul.sidenav.sidenav-fixed li {
  background: #f5f5f5!important;
}
ul.sidenav.sidenav-fixed li.active ul li {
  /* background: #f5f5f5!important; */
  background: #fff!important;
  
}
ul.sidenav.sidenav-fixed li.active ul li a{
  color:#333!important;
}

.sidenav li>a>i, .sidenav li>a>[class^="mdi-"], .sidenav li>a li>a>[class*="mdi-"], .sidenav li>a>i.material-icons {
  margin: 0 10px 0 0!important;
}


.new{
  background:#fd9f14;
  color:#fff;
  position:absolute;
  right:5px;
  /* display: block; */
  padding: 2px 4px;
  line-height: 12px;
  border-radius: 3px;
}
.new b{
  font-size: 11px;
  line-height: 12px;
  color:#fff;
}

#request {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 2;
}
.request-button {
  background-color: #fd9f14;
  border-color: transparent;
  color: #fff;
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: none;
}    

.request-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0,0,0, 0.7);
  z-index:99999;
}

.request-modal_content {
  padding: 25px;
  background: white;
  border-radius: 16px;
  min-width: 250px;
  min-width: 75vw;
}
.request-modal_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  line-height: 1.25;
}
.request-modal_header h6{
  font-weight: 600;
  text-transform: uppercase;
}
.request-modal_footer{
  font-size: 1rem;
  line-height: 1.25;
}
.request-modal_footer span{
  color: #26a69a;
}

.request-close{
  cursor:pointer;
}
.request-status{
  font-size: 20px;
  color: #26a69a;
}
.request-modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.code-toolbar>.toolbar{
  position:absolute;
  z-index:10;
  top:.3em;
  right: .7em;
  transition:opacity .3s ease-in-out;
  opacity:1
}

  div.code-toolbar>.toolbar>.toolbar-item>a,div.code-toolbar>.toolbar>.toolbar-item>button,div.code-toolbar>.toolbar>.toolbar-item>span
  {
    color:#4a4a4a;
    font-size: 0.8em;
    padding:.2em .7em .4em .7em;
    background:#fff;
    box-shadow:0 2px 0 0 rgba(0,0,0,.2);
    border-radius:.5em;
    cursor:pointer;
  }


