<article class="message is-primary">
  <div class="message-body">
    The Results endpoints return information about results of the matches that were played since the beginning of the season.
    </br>
    In these endpoints, there are parameters available to allow you to filter by league.
    </br>
    Note: API gives you access to all match results available with any plans (free plan included).
  </div>
</article>