<div class="table-container">
  <table class="table is-fullwidth is-striped is-narrow is-bordered">
    <tbody>
      <tr>
        <td><span class="attribute">id</span></td>
        <td class="has-text-grey-light">The unique identifier of the league</td>
      </tr>
      <tr>
        <td><span class="attribute">country</span></td>
        <td class="has-text-grey-light">The name of the country which the league belongs</td>
      </tr>
      <tr>
        <td><span class="attribute">league</span></td>
        <td class="has-text-grey-light">The name of the league</td>
      </tr>
      <tr>
        <td><span class="attribute">logo</span></td>
        <td class="has-text-grey-light">The logo of the league</td>
      </tr>
      <tr>
        <td><span class="attribute">matches</span></td>
        <td class="has-text-grey-light">
          An array of objects about today's matches that represents next attributes: 
          <table class="table is-fullwidth is-striped is-narrow ">
            <tbody>
              <tr>
                <td><span class="attribute">matchId</span></td>
                <td class="has-text-grey-light">The unique identifier of the match</td>
              </tr>
              <tr>
                <td><span class="attribute">status</span></td>
                <td class="has-text-grey-light">Possible values of the status field are: "Not started", "Live", "1st Half", "2nd Half", "Extra Time", "Penalties", "Finished", "Delayed",
                  "Interrupted", "Postponed", "Cancelled" </td>
              </tr>  
              <tr>
                <td><span class="attribute">round</span></td>
                <td class="has-text-grey-light">The championship round</td>
              </tr>              
              <tr>
                <td><span class="attribute">matchData</span></td>
                <td class="has-text-grey-light">The date of the event</td>
              </tr>
              <tr>
                <td><span class="attribute">matchTime</span></td>
                <td class="has-text-grey-light">The starting time of the match.</td>
              </tr>
              <tr>
                <td><span class="attribute">timestamp</span></td>
                <td class="has-text-grey-light">The date is shown in a UNIX Time stamp format</td>
              </tr>              
              <tr>
                <td><span class="attribute">referee</span></td>
                <td class="has-text-grey-light">The match referee</td>
              </tr>
              <tr>
                <td><span class="attribute">venue</span></td>
                <td class="has-text-grey-light">The name of the venue where the match will take place</td>
              </tr>              
              <tr>
                <td><span class="attribute">homeTeam</span></td>
                <td class="has-text-grey-light">The name of the team playing at home</td>
              </tr>
              <tr>
                <td><span class="attribute">awayTeam</span></td>
                <td class="has-text-grey-light">The name of the team playing away</td>
              </tr>
              <tr>
                <td><span class="attribute">matchLogo</span></td>
                <td class="has-text-grey-light">The logo of the match</td>
              </tr>               
              <tr>
                <td><span class="attribute">homeTeamIco</span></td>
                <td class="has-text-grey-light">The logo of the team playing at home</td>
              </tr>            
              <tr>
                <td><span class="attribute">awayTeamIco</span></td>
                <td class="has-text-grey-light">The logo of the team playing away</td>
              </tr>   
              <tr>
                <td><span class="attribute">homeTeamShortName</span></td>
                <td class="has-text-grey-light">An abbreviation of the home team</td>
              </tr>            
              <tr>
                <td><span class="attribute">awayTeamShortName</span></td>
                <td class="has-text-grey-light">An abbreviation of the away team</td>
              </tr>    
              <tr>
                <td><span class="attribute">odds</span></td>
                <td class="has-text-grey-light">An array of match odds (win, draw, lose)</td>
              </tr>                 
                                        
            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>
</div>