<div class="table-container">
  <table class="table is-fullwidth is-striped is-narrow is-bordered">
    <tbody>
      <tr>
        <td><span class="attribute">id</span></td>
        <td class="has-text-grey-light">The unique identifier of the league</td>
      </tr>
      <tr>
        <td><span class="attribute">country</span></td>
        <td class="has-text-grey-light">The name of the country which the league belongs</td>
      </tr>
      <tr>
        <td><span class="attribute">league</span></td>
        <td class="has-text-grey-light">The name of the league</td>
      </tr>

      <tr>
        <td><span class="attribute">champStats</span></td>
        <td class="has-text-grey-light">
          An objects about current season averages that represents next attributes: 
          <table class="table is-fullwidth is-striped is-narrow ">
            <tbody>
              <tr>
                <td><span class="attribute">goals</span></td>
                <td class="has-text-grey-light">The average number of goals scored per match</td>
              </tr>
              <tr>
                <td><span class="attribute">totalOver</span></td>
                <td class="has-text-grey-light">The average percent of matches where total over 2.5</td>
              </tr>  
              <tr>
                <td><span class="attribute">totalUnder</span></td>
                <td class="has-text-grey-light">The average percent of matches where total under 2.5</td>
              </tr>              
              <tr>
                <td><span class="attribute">shotsOnGoal</span></td>
                <td class="has-text-grey-light">Average shots on goal per match</td>
              </tr>
              <tr>
                <td><span class="attribute">goalAttempts</span></td>
                <td class="has-text-grey-light">Average goal attempts per match</td>
              </tr>
              <tr>
                <td><span class="attribute">bothToScore</span></td>
                <td class="has-text-grey-light">The average percent of matches where both teams scored</td>
              </tr>              
              <tr>
                <td><span class="attribute">cornerKicks</span></td>
                <td class="has-text-grey-light">Average corner kicks per match</td>
              </tr>
              <tr>
                <td><span class="attribute">offsides</span></td>
                <td class="has-text-grey-light">Average offsides per match</td>
              </tr>              
              <tr>
                <td><span class="attribute">penalties</span></td>
                <td class="has-text-grey-light">The average number of penalties assigned per match</td>
              </tr>
              <tr>
                <td><span class="attribute">fouls</span></td>
                <td class="has-text-grey-light">Average fouls per match</td>
              </tr>
              <tr>
                <td><span class="attribute">yellowCards</span></td>
                <td class="has-text-grey-light">The average number of yellow cards shown per match</td>
              </tr>               
              <tr>
                <td><span class="attribute">redCards</span></td>
                <td class="has-text-grey-light">The average number of red cards shown per match</td>
              </tr>            
            
                                        
            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>
</div>