<div class="row">
  <div class="url-subtitle col s12 m2">URL:</div>
  <div class="col s12 m10">
    <span class="code">${host} /api/v1/results/leagues_summary?leagueId</span>
  </div>
</div>
<div class="row">

  <div class="url-subtitle col s12 m2">Arguments&#58</div>
  <div class="table-container col s12 m10">

    <table class="param-table table is-bordered is-fullwidth">
      <tr>
        <td class="has-text-right">
          <span class="nobreak">Authorization
            <span class="has-text-weight-light is-size-7">(header)</span>
          </span>
          <br>
          <span class="has-text-primary has-text-weight-medium is-size-7 is-uppercase">required</span>
        </td>
        <td class="has-text-grey-light">The access token to authorize the call. <a
            href="getting_started"> Click here for more information.</a></td>
      </tr>
      <tr>
        <td class="has-text-right"><span class="nobreak">
            leagueId
            <span class="has-text-weight-light is-size-7">(params)</span></span> <br> <span
            class="has-text-grey-light has-text-weight-medium is-size-7 is-uppercase">OPTIONAL</span></td>
        <td class="has-text-grey-light">
          <p>
            The league ID. <a href="coverage" class="">Click here to view more about league ID</a>
            </br>The some values allowed for this endpoint:
          </p>
          <!-- level 1 -->
          <ul class="collapsible expandable">
            
            <li>
              <div class="collapsible-header"><span class="code">leagueId</span>
                (<i class="material-icons icon-change">add</i>)</div>
              <div class="collapsible-body">
                <!-- level 3 -->
                <ul class="tab">
                  <li><span class="params">dYlOSQOD</span> (Premier League, England)</li>
                  <li><span class="params">W6BOzpK2</span> (Bundesliga, Germany)</li>
                  <li><span class="params">QVmLl54o</span> (LaLiga, Spain)</li>
                  <li><span class="params">COuk57Ci</span> (Serie A, Italy)</li>
                  <li><span class="params">KIShoMk3</span> (Ligue 1, France)</li>
                </ul>
                <!-- level 3 -->
              </div>
            </li>
          </ul>
          <!-- level 1 -->
        </td>        
      </tr>      
    </table>
  </div>
</div>