<!-- Dropdown Structure -->

<!-- total full match -->
<div id='total_dropdown-match' class='dropdown-content'>
  <div class='stats_dropdown'>
    <span class="stepper">
      <button>–</button>
      <input type="number" id="total_stepper-match" value="11.5" min="0" max="50" step="1" readonly>
      <button>+</button>
    </span>
    <a class="waves-effect waves-light btn stats_dropdown--btn" >compare</a>
  </div>
</div>

<!-- total 1stHalf -->
<div id='total_dropdown-1stHalf' class='dropdown-content'>
  <div class='stats_dropdown'>
    <span class="stepper">
      <button>–</button>
      <input type="number" id="total_stepper-1stHalf" value="11.5" min="0" max="50" step="1" readonly>
      <button>+</button>
    </span>
    <a class="waves-effect waves-light btn stats_dropdown--btn" >compare</a>
  </div>
</div>

<!-- total 2nd Half -->
<div id='total_dropdown-2ndHalf' class='dropdown-content'>
  <div class='stats_dropdown'>
    <span class="stepper">
      <button>–</button>
      <input type="number" id="total_stepper-2ndHalf" value="11.5" min="0" max="50" step="1" readonly>
      <button>+</button>
    </span>
    <a class="waves-effect waves-light btn stats_dropdown--btn" >compare</a>
  </div>
</div>

<!-- total full match select team-->
<div id='total_dropdown-match--select' class='dropdown-content'>
  <div class='stats_dropdown'>
    <span class="stepper">
      <button>–</button>
      <input type="number" id="total_stepper-match--select" value="11.5" min="0" max="50" step="1" readonly>
      <button>+</button>
    </span>
    <a class="waves-effect waves-light btn stats_dropdown--btn" >compare</a>
  </div>
</div>

<!-- total 1stHalf select team-->
<div id='total_dropdown-1stHalf--select' class='dropdown-content'>
  <div class='stats_dropdown'>
    <span class="stepper">
      <button>–</button>
      <input type="number" id="total_stepper-1stHalf--select" value="11.5" min="0" max="50" step="1" readonly>
      <button>+</button>
    </span>
    <a class="waves-effect waves-light btn stats_dropdown--btn" >compare</a>
  </div>
</div>

<!-- total 2ndHalf select team-->
<div id='total_dropdown-2ndHalf--select' class='dropdown-content'>
  <div class='stats_dropdown'>
    <span class="stepper">
      <button>–</button>
      <input type="number" id="total_stepper-2ndHalf--select" value="11.5" min="0" max="50" step="1" readonly>
      <button>+</button>
    </span>
    <a class="waves-effect waves-light btn stats_dropdown--btn" >compare</a>
  </div>
</div>

