<article class="message is-info">
  <div class="message-body">
    <p>The endpoint <span class="code"> /api/v1/todayMatches/:country/:leagueId</span> returns today's matches of one League by ID.
    </br>
    Be aware that there are leagues that do not belong to any country (i.e. World Cup, UEFA competitions)... for such leagues it is possible to filter by fields "Europe" and "World"
    </p>
  </div>
</article>