<div class="row">
  <div class="url-subtitle col s12 m2">URL:</div>
  <div class="col s12 m10">
    <span class="code">${host} /api/v1/fixtures</span>
  </div>
</div>
<div class="row">

  <div class="url-subtitle col s12 m2">Arguments&#58</div>
  <div class="table-container col s12 m10">

    <table class="param-table table is-bordered is-fullwidth">
      <tr>
        <td class="has-text-right">
          <span class="nobreak">Authorization
            <span class="has-text-weight-light is-size-7">(header)</span>
          </span>
          <br>
          <span class="has-text-primary has-text-weight-medium is-size-7 is-uppercase">required</span>
        </td>
        <td class="has-text-grey-light">The access token to authorize the call. <a  href=""> Click here for more information.</a></td>
      </tr>
    </table>
  </div>
</div>