

<article class="message is-primary">
  <div class="message-body">
    The Fixtures endpoints return information about football games which will take place in the coming days.
  </br>
  In these endpoints, there are parameters available to allow you to filter by country and by leagueId.
  </br>
  UFS API gives you access to all matches available with any plans (free plan included).
  </div>
</article>