<article class="message is-primary">
  <div class="message-body">
    The Today's Matches endpoints return information about football games which will take place today.
  </br>
  In these endpoints, there are parameters available to allow you to filter by country, league, upcoming and live matches .
  </br>
  UFS API gives you access to all today's matches available with any plans (free plan included).
  </div>
</article>