<article class="message is-primary">
  <div class="message-body">
    The Leagues Summary endpoints return average number of statistics data in different football leagues. 
    </br>
    Note: average data calculated per current season.
  </div>
</article>