<article class="message is-info">
  <div class="message-body">
    <p>The endpoint <span class="code">/api/v1/results/leagues_summary/:leagueId</span> returns average data of one League by ID.</p>    
  </div>
</article>