<h3 class="subtitle is-size-5">Is there any sample code?</h3>

<ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3"><a href="#test-swipe-1">cURL</a></li>
    <li class="tab col s3"><a class="active" href="#test-swipe-2">NODE</a></li>
    <li class="tab col s3"><a href="#test-swipe-3">PYTHON</a></li>
    <li class="tab col s3"><a href="#test-swipe-4">PHP</a></li>
    <li class="tab col s3"><a href="#test-swipe-5">JS</a></li>
    <li class="tab col s3"><a href="#test-swipe-6">RUBY</a></li>
    
  </ul>
  <div class="tabs-body">            
  <div id="test-swipe-1" class="col s12">

<pre class="line-numbers">
<code class="language-css">

The code of this request is under construction


</code>
</pre>            
  </div>
  <div id="test-swipe-2" class="col s12">
<pre class="line-numbers">
<code class="language-css">//Install "got" first: https://www.npmjs.com/package/got

const got = require('got');
const options = {
  headers: {
    "authorization": "Bearer ***Access Token***" }
}
    
got.get('***API host***/api/v1/results', options)
    .then (res => {
        console.log('Status Code:', res.statusCode);
        return JSON.parse(res.body)})
    .then (res => { 
        console.log('Success:',  res.success)
        console.log('Data:',  res.data)
    })
    .catch(err => {
        console.log('Error: ', err.message);
    });</code>
</pre>                 
  </div>
  <div id="test-swipe-3" class="col s12">
<pre class="line-numbers">
<code class="language-css">

The code of this request is under construction

</code>
</pre>                 
  </div>
<div id="test-swipe-4" class="col s12">
<pre class="line-numbers">
<code class="language-css">

The code of this request is under construction

</code>
</pre>                 
</div>        
<div id="test-swipe-5" class="col s12">
<pre class="line-numbers">
<code class="language-css">

The code of this request is under construction

</code>
</pre>                 
</div>   
<div id="test-swipe-6" class="col s12">
<pre class="line-numbers">
<code class="language-css"> 

The code of this request is under construction

</code>
</pre>                 
</div>   

</div>